# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Rendered site
_site/

# Just a dump that i keep locally on X1 yoga
.forme

# Formats
*.html
*.docx
#*.pdf Try to see if this fixes pdf upload issues
#*.png dont ignore this format.. i use it for thumbnails
*.jpeg
*.pptx
*.log
*.zip
*.csv

/.quarto/

**/*.quarto_ipynb
